{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
<!--    <meta http-equiv="refresh" content="10">-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'mainblog/pictures/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'mainblog/main.css' %}">
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
    <title>{% block title %}{% endblock %}</title>
</head>
    <body>
        <div class="wrapper">
            {% block header %}
            {% endblock %}
            <main class="main">
                {% block content %}
                {% endblock %}
            </main>
            <footer class="footer">
                <div class="footer__container container">
                    <div class="footer__row">
                        <div class="footer__column">
                            <div class="footer__item">
                                <a href="{% url 'home' %}" class="footer__logo link">
                                    <div class="footer__logo-text">eco</div>
                                    <div class="footer__logo-picture"></div>
                                    <div class="footer__logo-text">borsch</div>
                                </a>
                            </div>
                        </div>
                        <div class="footer__column">
                            <div class="footer__item">
                                <div class="blog__arrow">
                                    <a href="#articles"><img src={% static "mainblog/pictures/icons/white-up-arrow.svg" %} alt="down-arrow" title="Go to my recent posts"></a>
                                </div>
                                <p>EcoBorsch Blog Resource by Dmitry B. © 2021.</p>
                                <p>All Rights Reserved.</p>
                            </div>
                        </div>
                        <div class="footer__column">
                            <div class="footer__item">
                                <div class="footer__social">
                                    <a href="#" class="footer__social-link"><img src={% static "mainblog/pictures/icons/social/google-icon.svg" %} alt="google"></a>
                                    <a href="#" class="footer__social-link"><img src={% static "mainblog/pictures/icons/social/telegram-icon.svg" %} alt="telegram"></a>
                                    <a href="#" class="footer__social-link"><img src={% static "mainblog/pictures/icons/social/twitter-icon.svg" %} alt="twitter"></a>
                                    <a href="#" class="footer__social-link"><img src={% static "mainblog/pictures/icons/social/instagram-icon.svg" %} alt="instagram"></a>
                                    <a href="#" class="footer__social-link"><img src={% static "mainblog/pictures/icons/social/vk-icon.svg" %} alt="vk"></a>
                                    <a href="#" class="footer__social-link"><img src={% static "mainblog/pictures/icons/social/facebook-icon.svg" %} alt="facebook"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>






<!--    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>-->
<!--    <div id="heading"></div>-->

<!--    <header>-->
<!--        <div class="header_main_container">-->
<!--            <div class="header_content">-->
<!--                <div class="logo">-->
<!--                    <div class="logo_img">-->
<!--                        <a class="eco_borsch" href="{% url 'home' %}">ЭКО<img src={% static 'mainblog/pictures/izba.jpg' %} class="izba"></img>Борщ</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            {% block menu %}-->
<!--            {% endblock %}-->

<!--            </div>-->
<!--        </div>-->

<!--        {% if messages %}-->
<!--            {% for message in messages %}-->
<!--                <div class="message">{{ message }}</div>-->
<!--            {% endfor %}-->
<!--        {% endif %}-->

<!--    </header>-->

<!--    <div class="body">-->
<!--            <div class="content">-->
<!--                 block content -->
<!--                 endblock -->
<!--            </div>-->

<!--            <div>-->
<!--                {% block pagination %}-->
<!--                {% endblock %}-->
<!--            </div>-->

            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

            <div>
                {% block js %}
                {% endblock %}
            </div>
<!--    </div>-->




