{% extends 'mainblog/base.html' %}

{% block menu %}
    <div class="outer_menu_container">
        <div class="inner_menu_container">
            {% if not user.is_authenticated %}
                <div class="menu">
                    <span><a class="menu_button" href="{% url 'home' %}">Главная</a></span>
                    <span><a class="menu_button" href="{% url 'all_products' %}">Индекс борща</a></span>
                    <span><a class="menu_button" href="{% url 'registration' %}">Регистрация</a></span>
                    <span><a class="menu_button" href="{% url 'user' %}">Вход</a></span>
                </div>
            {% else %}
                {% if user.username == 'admin' or user.username == 'prothean' %}
                    <div class="menu">
                    <span><a class="menu_button" href="{% url 'home' %}">Главная</a></span>
                        <span><a class="menu_button" href="{% url 'all_products' %}">Индекс борща</a></span>
                        <span><a class="menu_button" href="{% url 'profile' %}">Профиль</a></span>
                        <span><a id="profile_link" class="menu_button" href="{% url 'article_add' %}">Написать статью</a></span>
                        <span><a class="menu_button" href="{% url 'user_articles' user.username %}">Мои статьи</a></span>
                        <span><a class="menu_button" href="{% url 'exit' %}">Выход</a>{# (<b>{{ user.username }}</b>) #}</span>
                    </div>
                {% else %}
                    <div class="menu">
                        <span><a class="menu_button" href="{% url 'home' %}">Главная</a></span>
                        <span><a class="menu_button" href="{% url 'all_products' %}">Индекс борща</a></span>
                        <span><a class="menu_button" href="{% url 'profile' %}">Профиль</a></span>
                        <span><a class="menu_button" href="{% url 'exit' %}">Выход</a> (<b>{{ user.username }}</b>)</span>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<div class="detail_post">
    <span><h3>{{ title }}</h3> <h2>{{ object.title }}</h2></span>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <p>Название статьи:</p>
            {{ form.title|safe }}
            <p>Титульное изображение статьи:</p>
            {{ form.img|safe }}
            <p>Основной текст статьи:</p>
            {{ form.text|safe }}
            <span>{{ error }}</span>
            <button type="submit">Опубликовать статью</button>
        </div>
    </form>
</div>

{% endblock %}