<!--{% extends 'mainblog/base.html' %}-->
{% load static %}
{% block content %}
<aside class="sidebar sidebar_left">
    <div class="sidebar__borsch-price sidebar-left-container">
        <div class="sidebar__header sidebar__header_left">
            <h3>How much is the borsch?</h3>
        </div>
        <div class="sidebar__borsch-card">
            <div class="sidebar__borsch-front">
                <div class="sidebar__borsch-front-item">
                    <div class="sidebar__borsch-front-text-container">
                        <div class="sidebar__borsch-front-text">
                            <p>it's ours for: </p>
                            <div>
                                <span>
                                    <script>
                                        var resultat = 0;
                                        {% for product in borsch %}
                                            var c = ({{ product.price }}) * ({{product.grammovka }}) / ({{ product.kilo }});
                                            resultat += c;
                                        {% endfor %}
                                        var itog;
                                        itog = Math.round(resultat);
                                        document.write(itog);
                                    </script><span>р.</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar__image">
                        <img src={% static "mainblog/pictures/background/borsch.svg" %} alt="">
                    </div>
                </div>
            </div>
            <div class="sidebar__borsch-back">
                <div class="sidebar__borsch-back-item">
                    <div class="sidebar__borsch-back-text-container">
                        {% for product in borsch %}
                        {% load mathfilters %}
                        <div>
                            {{ product.name }} ({{ product.grammovka }}гр.): {{ product.price|mul:product.grammovka|div:product.kilo|floatformat:2 }}р.
                        </div>
                        {% endfor %}
                    </div>
                    <div class="sidebar__image">
                        <img src={% static "mainblog/pictures/background/borsch.svg" %} alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar__graph sidebar-left-container">
        <div class="sidebar__header sidebar__header_left">
            <h3>Borsch index</h3>
        </div>
        <div class="sidebar__graph-card">
            <div class="sidebar__graph-card-front">
                <div class="sidebar__image">
                    <img src={% static "mainblog/pictures/dia.svg" %} alt="dia">
                </div>
            </div>
            <div class="sidebar__graph-card-back">
                <div class="sidebar__graph-back-text-container">
                    <div class="div">
                        E=mc^2
                    </div>
                </div>
                <div class="sidebar__image">
                    <img src={% static "mainblog/pictures/dia.svg" %} alt="dia">
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar__follow sidebar-left-container">
        <div class="sidebar__header sidebar__header_left">
            <h3>Always in touch!</h3>
        </div>
        <div class="sidebar__social">
            <a href="#" class="sidebar__link"><img src={% static "mainblog/pictures/icons/social/google-icon.svg" %} alt="google"></a>
            <a href="#" class="sidebar__link"><img src={% static "mainblog/pictures/icons/social/telegram-icon.svg" %} alt="telegram"></a>
            <a href="#" class="sidebar__link"><img src={% static "mainblog/pictures/icons/social/twitter-icon.svg" %} alt="twitter"></a>
            <a href="#" class="sidebar__link"><img src={% static "mainblog/pictures/icons/social/instagram-icon.svg" %} alt="instagram"></a>
            <a href="#" class="sidebar__link"><img src={% static "mainblog/pictures/icons/social/vk-icon.svg" %} alt="vk"></a>
            <a href="#" class="sidebar__link"><img src={% static "mainblog/pictures/icons/social/facebook-icon.svg" %} alt="facebook"></a>
        </div>
    </div>
</aside>
<aside class="sidebar sidebar_right">
    <div class="sidebar__items">
        <div class="sidebar__header sidebar__header_right">
            <h3>Couple of interesting random posts:</h3>
        </div>
        <div class="sidebar__random-post-card">
            <div class="sidebar__random-post-front">
                <a href="{% url 'article_detail' rand_post.id %}" class="sidebar__image">
                    <img src="{{ rand_post.img.url }}" alt="">
                </a>
            </div>
            <div class="sidebar__random-post-back">
                <div class="sidebar__random-post-back-text-container">
                    <div class="sidebar__random-post-name">{{ rand_post.title }}</div>
                    <div class="sidebar__random-post-description">{{ rand_post.text|striptags|truncatechars:100 }}</div>
                </div>
                <a href="{% url 'article_detail' rand_post.id %}" class="sidebar__image">
                    <img src="{{ rand_post.img.url }}" alt="">
                </a>
            </div>
        </div>
        <div class="sidebar__random-post-card">
            <div class="sidebar__random-post-front">
                <a href="{% url 'article_detail' rand_post_2.id %}" class="sidebar__image">
                    <img src="{{ rand_post_2.img.url }}" alt="">
                </a>
            </div>
            <div class="sidebar__random-post-back">
                <div class="sidebar__random-post-back-text-container">
                    <div class="sidebar__random-post-name">{{ rand_post_2.title }}</div>
                    <div class="sidebar__random-post-description">{{ rand_post_2.text|striptags|truncatechars:100 }}</div>
                </div>
                <a href="{% url 'article_detail' rand_post_2.id %}" class="sidebar__image">
                    <img src="{{ rand_post_2.img.url }}" alt="">
                </a>
            </div>
        </div>
    </div>
</aside>
<section class="content">
    <section class="content__info">
        <h2>About me - EcoBorschius! And about my blog also</h2>
        <p>{% lorem 66 w %}</p>
        <br>
        <p>{% lorem 44 w %}</p>
        <br>
        <p>{% lorem 55 w %}</p>
    </section>
    <section class="content__articles articles">
        <div id="articles"></div>
        <h2>My recent posts</h2>
        <div class="articles__last-article">
            {% for post in articles %}
                {% if post == last_post %}
                    <div class="articles__item articles__item_big">
                        {% if post.img %}
                            {% if post.img == default_image %}
                                <span>There is no image</span>
                            {% else %}
                                <div class="articles__last-image">
                                    <a href="{% url 'article_detail' post.id %}"><img src="{{ post.img.url }}" alt=""></a>
                                </div>
                            {% endif %}
                        {% endif %}
                        {% if post.author %}
                        <div class="articles__last-author">
                            <a href="{% url 'user_articles' post.author %}">{{ post.author }}</a> &nbsp Published: {{ post.date|date:"d E Y" }}
                        </div>
                        {% endif %}
                        <a href="{% url 'article_detail' post.id %}" class="articles__name">{{ post.title }}</a>
                        <div class="articles__description">{{ post.text|striptags|truncatechars:100 }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="articles__items">
            {% for post in articles %}
                {% if post != last_post %}
                    <div class="articles__item">
                        {% if post.img %}
                            {% if post.img == default_image %}
                                <span>There is no image</span>
                            {% else %}
                                <a href="{% url 'article_detail' post.id %}" class="articles__image ">
                                    <img src="{{ post.img.url }}" alt="">
                                </a>
                            {% endif %}
                        {% endif %}
                        <a href="{% url 'article_detail' post.id %}" class="articles__name">{{ post.title }}</a>
                        <p href="{% url 'article_detail' post.id %}" class="articles__description">{{ post.text|striptags|truncatechars:100 }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="articles__button">
            <a href="#" class="articles__all-articles">All my posts</a>
        </div>
    </section>
</section>
{% endblock %}


<!--{% block menu %}-->
<!--    <div class="outer_menu_container">-->
<!--        <div class="inner_menu_container">-->
<!--            {% if not user.is_authenticated %}-->
<!--                <div class="menu">-->
<!--                    <span><a id="profile_link" class="menu_button" href="{% url 'home' %}">Главная</a></span>-->
<!--                    <span><a class="menu_button" href="{% url 'all_products' %}">Индекс борща</a></span>-->
<!--                    <span><a class="menu_button" href="{% url 'registration' %}">Регистрация</a></span>-->
<!--                    <span><a class="menu_button" href="{% url 'user' %}">Вход</a></span>-->
<!--                </div>-->
<!--            {% else %}-->
<!--                {% if user.username == 'admin' or user.username == 'prothean' %}-->
<!--                    <div class="menu">-->
<!--                        <span><a id="profile_link" class="menu_button" href="{% url 'home' %}">Главная</a></span>-->
<!--                        <span><a class="menu_button" href="{% url 'all_products' %}">Индекс борща</a></span>-->
<!--                        <span><a class="menu_button" href="{% url 'profile' %}">Профиль</a></span>-->
<!--                        <span><a class="menu_button" href="{% url 'article_add' %}">Написать статью</a></span>-->
<!--                        <span><a class="menu_button" href="{% url 'user_articles' user.username %}">Мои статьи</a></span>-->
<!--                        <span><a class="menu_button" href="{% url 'exit' %}">Выход</a>{# (<b>{{ user.username }}</b>) #}</span>-->
<!--                    </div>-->
<!--                {% else %}-->
<!--                    <div class="menu">-->
<!--                        <span><a id="profile_link" class="menu_button" href="{% url 'home' %}">Главная</a></span>-->
<!--                        <span><a class="menu_button" href="{% url 'all_products' %}">Индекс борща</a></span>-->
<!--                        <span><a class="menu_button" href="{% url 'profile' %}">Профиль</a></span>-->
<!--                        <span><a class="menu_button" href="{% url 'exit' %}">Выход</a> (<b>{{ user.username }}</b>)</span>-->
<!--                    </div>-->
<!--                {% endif %}-->
<!--            {% endif %}-->
<!--        </div>-->
<!--    </div>-->
<!--{% endblock %}-->


<!--{% block title %}-->
<!--    {{ title }}-->
<!--{% endblock %}-->


<!-- block content -->

<!--    {% if messages %}-->
<!--        {% for message in messages %}-->
<!--            <a href="#last_comment"><div class="message">{{ message }}</div></a>-->
<!--        {% endfor %}-->
<!--    {% endif %}-->

<!--    {% for post in articles %}-->
<!--        {% if post == last_post %}-->
<!--            <div class="last_content_container">-->
<!--                <div class="last_post_title_container">-->
<!--                    <div class="last_post_title">-->
<!--                        <a class="lnk" href="{% url 'article_detail' post.id %}"><h2>{{ post.title }}</h2></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="last_content">-->
<!--                    <div class="last_post">-->
<!--    &lt;!&ndash;                    <a class="lnk" href="{% url 'article_detail' post.id %}"><h2>{{ post.title }}</h2></a>&ndash;&gt;-->
<!--                        <div class="last_post_info">-->
<!--                            <div class="post_author_image">-->
<!--                                <img src="{{ post.author.profile.img.url }}" alt="{{ post.author }}" class = "user_images">-->
<!--                            </div>-->
<!--                            <div class="post_meta_info">-->
<!--                                {% if post.author %}-->
<!--                                    <span>Автор: <a class="lnk_author" href="{% url 'user_articles' post.author %}">{{ post.author }}</a> &nbsp Опубликовано: {{ post.date|date:"d E Y" }}</span>-->
<!--                                {% else %}-->
<!--                                    <p>Автор: Unknown</p>-->
<!--                                    <p>Опубликовано: {{ post.date|date:"d E Y" }}</p>-->
<!--                                {% endif %}-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        {% if post.img %}-->
<!--                            {% if post.img == default_image %}-->
<!--                                <span></span>-->
<!--                            {% else %}-->
<!--                                <span><img class="last_post_image" src="{{ post.img.url }}"></span>-->
<!--                            {% endif %}-->
<!--                        {% endif %}-->
<!--                        <p>{{ post.text|striptags|truncatechars:210 }}</p>-->
<!--                        <a class="readmore" href="{% url 'article_detail' post.id %}">Читать далее</a>-->
<!--                    </div>-->
<!--                    <div class="addition_info_content_block">-->
<!--    &lt;!&ndash;                    <div class="empty_space_block"></div>&ndash;&gt;-->
<!--                        {% if rand_post.img == default_image %}-->
<!--                            <div class="random_post_without_image">-->
<!--                                <div class="random_post">-->
<!--                                    <a class="lnk" href="{% url 'article_detail' rand_post.id %}" title="{{ rand_post.title }}"><div class="">-->
<!--                                        {% if rand_post.img %}-->
<!--                                        <span></span>-->
<!--                                        {% endif %}</div>-->
<!--                                        <p><b>{{ rand_post.title|striptags|truncatechars:25 }}</b> <span class="random_post_date">{{ rand_post.date|date:"d E Y" }}</span></p>-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        {% else %}-->




<!--                            <div class="random_post" title="{{ rand_post.title }}">-->
<!--                                <div class="random_post_container">-->
<!--                                    {% if rand_post.img %}-->
<!--                                        <img class="random_post_image" src="{{ rand_post.img.url }}">-->
<!--                                    {% endif %}-->
<!--    -->
<!--                                    <div class="fade_in_menu">-->
<!--                                        <span>{{ rand_post.title|striptags|truncatechars:27 }}</span>-->
<!--                                        <span>{{ rand_post.date|date:"d E Y" }}</span>-->
<!--                                        <span><a class="fade_in_menu_readmore" href="{% url 'article_detail' rand_post.id %}">Читать далее</a></span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        {% endif %}-->



<!--                        <div class="random_post" title="{{ rand_post_2.title }}">-->
<!--                            <div class="random_post_container">-->
<!--                                {% if rand_post_2.img %}-->
<!--                                    <img class="random_post_image" src="{{ rand_post_2.img.url }}">-->
<!--                                {% endif %}-->

<!--                                <div class="fade_in_menu">-->
<!--                                    <span>{{ rand_post_2.title|striptags|truncatechars:27 }}</span>-->
<!--                                    <span>{{ rand_post_2.date|date:"d E Y" }}</span>-->
<!--                                    <span><a class="fade_in_menu_readmore" href="{% url 'article_detail' rand_post_2.id %}">Читать далее</a></span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="index_borsch">-->
<!--                        <span>Сколько стоит литр борща?</span>-->
<!--                        {% for product in borsch %}-->
<!--                            {% load mathfilters %}-->
<!--                            <div class="borsch_item">-->
<!--                                {{ product.name }} ({{ product.grammovka }}гр.): {{ product.price|mul:product.grammovka|div:product.kilo|floatformat:2 }}р.-->
<!--                            </div>-->
<!--                        {% endfor %}-->
<!--                        <div>-->
<!--                            Итого: ~-->
<!--                            <script>-->
<!--                                var resultat = 0;-->
<!--                                {% for product in borsch %}-->
<!--                                    var c = ({{ product.price }}) * ({{product.grammovka }}) / ({{ product.kilo }});-->
<!--                                    resultat += c;-->
<!--                                {% endfor %}-->
<!--                                var itog;-->
<!--                                itog = Math.round(resultat);-->
<!--                                document.write(itog);-->
<!--                            </script>р.-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        {% endif %}-->
<!--    {% endfor %}-->
<!--    <div class="previous_content_block">-->
<!--        {% for post in articles %}-->
<!--            <div class="post">-->
<!--                {% if post.img %}-->
<!--                    {% if post.img == default_image %}-->
<!--                        <span>There is no image</span>-->
<!--                    {% else %}-->
<!--                        <span><img class="post_image" src="{{ post.img.url }}"></span>-->
<!--                    {% endif %}-->
<!--                {% endif %}-->
<!--                <a class="lnk" href="{% url 'article_detail' post.id %}" title="{{ post.title }}"><h3 class="post_title">{{ post.title|striptags|truncatechars:145 }}</h3></a>-->
<!--                <div class="post_info">-->
<!--                    <div class="post_author_image">-->
<!--                        <img src="{{ post.author.profile.img.url }}" alt="{{ post.author }}" class = "user_images">-->
<!--                    </div>-->
<!--                    <div class="post_meta_info">-->
<!--                        {% if post.author %}-->
<!--                            <span><a class="lnk_author" href="{% url 'user_articles' post.author %}">{{ post.author }}</a> &nbsp <span class="publication_date">{{ post.date|date:"d E Y" }}</span></span>-->
<!--                        {% else %}-->
<!--                        <p>Автор: Unknown</p>-->
<!--                        <p>Опубликовано: {{ post.date|date:"d E Y" }}</p>-->
<!--                        {% endif %}-->
<!--                    </div>-->
<!--                </div>-->
<!--                <p>{{ post.text|striptags|truncatechars:150 }}</p>-->
<!--                <a class="readmore" href="{% url 'article_detail' post.id %}">Читать далее</a>-->
<!--            </div>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!-- endblock -->

<!--{% block pagination %}-->
<!--    <div class="nav_pages">-->
<!--        <div class="pages">-->
<!--            {% if is_paginated %}-->
<!--                {% if page_obj.has_previous %}-->
<!--                    <a class="pagination" href="{% url 'home' %}">На первую</a>-->
<!--                    <a class="pagination" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>-->
<!--                {% endif %}-->

<!--                {% for num in page_obj.paginator.page_range %}-->
<!--                    {% if num == page_obj.number %}-->
<!--                        <button class="paginated">{{ num }}</button>-->
<!--                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}-->
<!--                        <a class="pagination" href="?page={{ num }}">{{ num }}</a>-->
<!--                    {% endif %}-->
<!--                {% endfor %}-->

<!--                {% if page_obj.has_next %}-->
<!--                    <a class="pagination" href="?page={{ page_obj.next_page_number }}">Следующая</a>-->
<!--                    <a class="pagination" href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>-->
<!--                {% endif %}-->
<!--            {% endif %}-->
<!--        </div>-->
<!--    </div>-->
<!--{% endblock %}-->