<!--{% extends 'mainblog/base.html' %}-->
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header %}
<header class="header">
                <div class="fullscreen">
                    <div class="fullscreen__body">
                        <div class="header__container container">
                            <div class="header__row">
                                <div class="header__column">
                                    <div class="header__item">
                                        <div class="header__logo">
                                            <a href="{% url 'home' %}" class="header__logo-item link logo-item">
                                                <p class="logo-item__text">eco</p>
                                                <div class="logo-item__picture">
                                                    <img src={% static "mainblog/pictures/logo/izba.jpg" %} alt="logo-izba">
                                                </div>
                                                <p class="logo-item__text">borsch</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="header__column">
                                    <div class="header__item">
                                        <ul class="header__menu">
                                            {% if not user.is_authenticated %}
                                                <li><a href="{% url 'user_articles' 'prothean' %}" class="header__link link">blog</a></li>
                                                <li><a href="{% url 'all_products' %}" class="header__link link">borsch index</a></li>
                                                <li><a href="{% url 'registration' %}" class="header__link link">registration</a></li>
                                                <li><a href="{% url 'user' %}" class="header__link link">log in</a></li>
                                            {% else %}
                                                {% if user.username == 'admin' or user.username == 'prothean' %}
                                                    <li><a href="{% url 'user_articles' 'prothean' %}" class="header__link link">blog</a></li>
                                                    <li><a href="{% url 'all_products' %}" class="header__link link">borsch index</a></li>
                                                    <li><a href="{% url 'profile' %}" class="header__link link">profile</a></li>
                                                    <li><a href="{% url 'article_add' %}" class="header__link link">new article</a></li>
                                                    <li><a href="{% url 'exit' %}" class="header__link link">log out</a></li>
                                                {% else %}
                                                    <li><a href="{% url 'user_articles' 'prothean' %}" class="header__link link">blog</a></li>
                                                    <li><a href="{% url 'all_products' %}" class="header__link link">borsch index</a></li>
                                                    <li><a href="{% url 'profile' %}" class="header__link link">profile</a></li>
                                                    <li><a href="{% url 'exit' %}" class="header__link link">log out (<b>{{ user.username }}</b>)</a></li>
                                                {% endif %}
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="header__row">
                                <div class="header__big-text">
                                    <p>the most divinest borschy</p>
                                    <p>by local economist-man...</p>
                                </div>
                            </div>
                            <div class="blog__arrow">
                                <a href="#"><img class="blog__arrow-link" src={% static "mainblog/pictures/icons/white-down-arrow.svg" %} alt="down-arrow" title="Go to my recent posts"></a>
                            </div>
                        </div>
                    </div>
                    <picture class="fullscreen__image">
                        <img src={% static "mainblog/pictures/background/header_background.jpg" %} alt="background">
                    </picture>
                </div>
            </header>
{% endblock %}

{% block content %}
<aside class="sidebar sidebar_left">
    <div class="sidebar__borsch-price sidebar-left-container">
        <div class="sidebar__header sidebar__header_left">
            <h3>How much is the borsch?</h3>
        </div>
        <div class="sidebar__borsch-card">
            <div class="sidebar__borsch-front">
                <div class="sidebar__borsch-front-item">
                    <div class="sidebar__borsch-front-text-container">
                        <div class="sidebar__borsch-front-text">
                            <p>it's ours for: </p>
                            <div>
                                <span>
                                    <script>
                                        var resultat = 0;
                                        {% for product in borsch %}
                                            var c = ({{ product.price }}) * ({{product.grammovka }}) / ({{ product.kilo }});
                                            resultat += c;
                                        {% endfor %}
                                        var itog;
                                        itog = Math.round(resultat);
                                        document.write(itog);
                                    </script><span>р.</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar__image">
                        <img src={% static "mainblog/pictures/background/borsch.svg" %} alt="">
                    </div>
                </div>
            </div>
            <div class="sidebar__borsch-back">
                <div class="sidebar__borsch-back-item">
                    <div class="sidebar__borsch-back-text-container">
                        {% for product in borsch %}
                        {% load mathfilters %}
                        <div>
                            <a href="https://www.google.ru/search?q=сколько+стоит+{{ product.name }}" class="sidebar__borsch-back-text-link" target="_blank">{{ product.name }} ({{ product.grammovka }}гр.): {{ product.price|mul:product.grammovka|div:product.kilo|floatformat:2 }}р.</a>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="sidebar__image">
                        <img src={% static "mainblog/pictures/background/borsch.svg" %} alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar__graph sidebar-left-container">
        <div class="sidebar__header sidebar__header_left">
            <h3>Borsch index</h3>
        </div>
        <div class="sidebar__graph-card">
            <div class="sidebar__graph-card-front">
                <div class="sidebar__image">
                    <img src={% static "mainblog/pictures/calc.svg" %} alt="calc">
                </div>
            </div>
            <div class="sidebar__graph-card-back">
                <div class="sidebar__graph-back-text-container">
                    <div class="div">
                        E=mc^2
                    </div>
                </div>
                <div class="sidebar__image">
                    <img src={% static "mainblog/pictures/calc.svg" %} alt="calc">
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar__follow sidebar-left-container">
        <div class="sidebar__header sidebar__header_left">
            <h3>Get in touch</h3>
        </div>
        <div class="sidebar__social">
            <a href="#" class="sidebar__link"><img src={% static "mainblog/pictures/icons/social/google-icon.svg" %} alt="google"></a>
            <a href="#" class="sidebar__link"><img src={% static "mainblog/pictures/icons/social/telegram-icon.svg" %} alt="telegram"></a>
            <a href="#" class="sidebar__link"><img src={% static "mainblog/pictures/icons/social/twitter-icon.svg" %} alt="twitter"></a>
            <a href="#" class="sidebar__link"><img src={% static "mainblog/pictures/icons/social/instagram-icon.svg" %} alt="instagram"></a>
            <a href="https://vk.com/share.php?url={{ request.get_full_path }}" class="sidebar__link" target="_blank"><img src={% static "mainblog/pictures/icons/social/vk-icon.svg" %} alt="vk"></a>
            <a href="#" class="sidebar__link"><img src={% static "mainblog/pictures/icons/social/facebook-icon.svg" %} alt="facebook"></a>
        </div>
    </div>
</aside>
<aside class="sidebar sidebar_right">
    <div class="sidebar__header sidebar__header_right">
        <h3>Couple of interesting random posts:</h3>
    </div>
    <div class="sidebar__items">
        <div class="sidebar__random-post-card">
            <div class="sidebar__random-post-front">
                <a href="{% url 'article_detail' rand_post.id %}" class="sidebar__image">
                    <img src="{{ rand_post.img.url }}" alt="">
                </a>
            </div>
            <div class="sidebar__random-post-back">
                <div class="sidebar__random-post-back-text-container">
                    <div class="sidebar__random-post-name">{{ rand_post.title }}</div>
                    <div class="sidebar__random-post-description">{{ rand_post.text|striptags|truncatechars:100 }}</div>
                </div>
                <a href="{% url 'article_detail' rand_post.id %}" class="sidebar__image">
                    <img src="{{ rand_post.img.url }}" alt="">
                </a>
            </div>
        </div>
        <div class="sidebar__random-post-card">
            <div class="sidebar__random-post-front">
                <a href="{% url 'article_detail' rand_post_2.id %}" class="sidebar__image">
                    <img src="{{ rand_post_2.img.url }}" alt="">
                </a>
            </div>
            <div class="sidebar__random-post-back">
                <div class="sidebar__random-post-back-text-container">
                    <div class="sidebar__random-post-name">{{ rand_post_2.title }}</div>
                    <div class="sidebar__random-post-description">{{ rand_post_2.text|striptags|truncatechars:100 }}</div>
                </div>
                <a href="{% url 'article_detail' rand_post_2.id %}" class="sidebar__image">
                    <img src="{{ rand_post_2.img.url }}" alt="">
                </a>
            </div>
        </div>
    </div>
</aside>
<section class="content">
    <section class="content__info">
        <h2>About me - EcoBorschius! And about my blog also</h2>
        <p>{% lorem 66 w %}</p>
        <br>
        <p>{% lorem 44 w %}</p>
        <br>
        <p>{% lorem 55 w %}</p>
    </section>
    <section class="content__articles articles">
        <div id="articles"></div>
        <h2>My recent posts</h2>
        <div class="articles__last-article">
            {% for post in articles %}
                {% if post == last_post %}
                    <div class="articles__item articles__item_big">
                        {% if post.img %}
                            {% if post.img == default_image %}
                                <span>There is no image</span>
                            {% else %}
                                <div class="articles__last-image">
                                    <a href="{% url 'article_detail' post.id %}"><img src="{{ post.img.url }}" alt=""></a>
                                </div>
                            {% endif %}
                        {% endif %}
                        {% if post.author %}
                        <div class="articles__last-author">
                            <a href="{% url 'user_articles' post.author %}">{{ post.author }}</a> &nbsp Published: {{ post.date|date:"d E Y" }}
                        </div>
                        {% endif %}
                        <a href="{% url 'article_detail' post.id %}" class="articles__name">{{ post.title }}</a>
                        <div class="articles__description">{{ post.text|striptags|truncatechars:100 }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="articles__items">
            {% for post in articles %}
                {% if post != last_post %}
                    <div class="articles__item">
                        {% if post.img %}
                            {% if post.img == default_image %}
                                <span>There is no image</span>
                            {% else %}
                                <a href="{% url 'article_detail' post.id %}" class="articles__image ">
                                    <img src="{{ post.img.url }}" alt="">
                                </a>
                            {% endif %}
                        {% endif %}
                        <a href="{% url 'article_detail' post.id %}" class="articles__name">{{ post.title }}</a>
                        <p href="{% url 'article_detail' post.id %}" class="articles__description">{{ post.text|striptags|truncatechars:100 }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="articles__button">
            <a href="{% url 'user_articles' 'prothean' %}" class="button articles__blog-button">My blog</a>
        </div>
    </section>
</section>

<script src={% static 'mainblog/js/scroll.js' %}></script>
{% endblock %}



{% if messages %}
    {% for message in messages %}
        <script>
            alert("{{ message }}");
        </script>
    {% endfor %}
{% endif %}






