{% extends 'mainblog/base.html' %}
{% load static %}

{% block header %}
    <header class="header">
                <div class="fullscreen fullscreen_small">
                    <div class="fullscreen__body">
                        <div class="header__container container header__container_small">
                            <div class="header__row">
                                <div class="header__column">
                                    <div class="header__item">
                                        <div class="header__logo">
                                            <a href="{% url 'home' %}" class="header__logo-item link logo-item">
                                                <p class="logo-item__text">eco</p>
                                                <div class="logo-item__picture">
                                                    <img src={% static "mainblog/pictures/logo/izba.jpg" %} alt="logo-izba">
                                                </div>
                                                <p class="logo-item__text">borsch</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="header__column">
                                    <div class="header__item">
                                        <ul class="header__menu">
                                            <li><a href="{% url 'user_articles' 'prothean' %}" class="header__link link">posts</a></li>
                                            <li><a href="{% url 'all_products' %}" class="header__link link">borsch index</a></li>
                                            <li><a href="{% url 'registration' %}" class="header__link link">registration</a></li>
                                            <li><a href="{% url 'user' %}" class="header__link link">log in</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="header__row">
                                <div class="header__big-text header__big-text_small">
                                    <p>the most divinest borschy</p>
                                    <p>by local economist-man...</p>
                                </div>
                            </div>
                            <div class="header__blog">
                            </div>
                        </div>
                    </div>
                    <picture class="fullscreen__image">
                        <img src={% static "mainblog/pictures/background/header_background.jpg" %} alt="background">
                    </picture>
                </div>
</header>
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <aside class="sidebar sidebar_left">
    <div class="sidebar__follow sidebar-left-container">
        <div class="sidebar__header sidebar__header_left">
            <h3>Always in touch!</h3>
        </div>
        <div class="sidebar__social">
            <p>На случай, если у вас появятся какие-то вопросы или предложения по моим статьям, я всегда на связи и готов к обсуждениям! </p>
            <a href="#" class="sidebar__link"><img src={% static "mainblog/pictures/icons/social/google-icon.svg" %} alt="google"></a>
            <a href="#" class="sidebar__link"><img src={% static "mainblog/pictures/icons/social/telegram-icon.svg" %} alt="telegram"></a>
            <a href="#" class="sidebar__link"><img src={% static "mainblog/pictures/icons/social/twitter-icon.svg" %} alt="twitter"></a>
            <a href="#" class="sidebar__link"><img src={% static "mainblog/pictures/icons/social/instagram-icon.svg" %} alt="instagram"></a>
            <a href="#" class="sidebar__link"><img src={% static "mainblog/pictures/icons/social/vk-icon.svg" %} alt="vk"></a>
            <a href="#" class="sidebar__link"><img src={% static "mainblog/pictures/icons/social/facebook-icon.svg" %} alt="facebook"></a>
        </div>
    </div>
</aside>
    <section class="content">
        <section class="content__author-articles articles">
            <div id="articles"></div>
            <h2>All posts (всего: <b>{{ page_obj.paginator.count }}</b>)</h2>
            <div class="articles__last-article">
                {% for post in articles %}
                    {% if post != last_post %}
                        <div class="articles__item articles__item_big">
                            {% if post.img %}
                                {% if post.img == default_image %}
                                    <span>There is no image</span>
                                {% else %}
                                    <a href="{% url 'article_detail' post.id %}" class="articles__image ">
                                        <img src="{{ post.img.url }}" alt="">
                                    </a>
                                {% endif %}
                            {% endif %}
                            <a href="{% url 'article_detail' post.id %}" class="articles__name">{{ post.title }}</a>
                            <p class="articles__description">Опубликовано: {{ post.date|date:"d E Y" }}</p>
                            <p class="articles__description">{{ post.text|striptags|truncatechars:100 }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="nav_pages">
                <div class="pages">
                    {% if is_paginated %}
                        {% if page_obj.has_previous %}
                            <a class="pagination" href="{% url 'user_articles' 'prothean' %}">На первую</a>
                            <a class="pagination" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                        {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                    {% if num == page_obj.number %}
                        <button class="paginated">{{ num }}</button>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a class="pagination" href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}  <!--проверяем, есть ли последующие страницы-->
                        <a class="pagination" href="?page={{ page_obj.next_page_number }}">Следующая</a>
                        <a class="pagination" href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </section>
    </section>
{% endblock %}

