{% extends 'mainblog/base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header %}
    <header class="header">
                <div class="fullscreen fullscreen_small">
                    <div class="fullscreen__body">
                        <div class="header__container container header__container_small">
                            <div class="header__row">
                                <div class="header__column">
                                    <div class="header__item">
                                        <div class="header__logo">
                                            <a href="{% url 'home' %}" class="header__logo-item link logo-item">
                                                <p class="logo-item__text">eco</p>
                                                <div class="logo-item__picture">
                                                    <img src={% static "mainblog/pictures/logo/izba.jpg" %} alt="logo-izba">
                                                </div>
                                                <p class="logo-item__text">borsch</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="header__column">
                                    <div class="header__item">
                                        <ul class="header__menu">
                                            {% if not user.is_authenticated %}
                                                <li><a href="{% url 'user_articles' 'prothean' %}" class="header__link link">blog</a></li>
                                                <li><a href="{% url 'all_products' %}" class="header__link link">borsch index</a></li>
                                                <li><a href="{% url 'registration' %}" class="header__link link">registration</a></li>
                                                <li><a href="{% url 'user' %}" class="header__link link">log in</a></li>
                                            {% else %}
                                                {% if user.username == 'admin' or user.username == 'prothean' %}
                                                    <li><a href="{% url 'user_articles' 'prothean' %}" class="header__link link">blog</a></li>
                                                    <li><a href="{% url 'all_products' %}" class="header__link link">borsch index</a></li>
                                                    <li><a href="{% url 'profile' %}" class="header__link link">profile</a></li>
                                                    <li><a href="{% url 'article_add' %}" class="header__link link">new article</a></li>
                                                    <li><a href="{% url 'exit' %}" class="header__link link">log out</a></li>
                                                {% else %}
                                                    <li><a href="{% url 'user_articles' 'prothean' %}" class="header__link link">blog</a></li>
                                                    <li><a href="{% url 'all_products' %}" class="header__link link">borsch index</a></li>
                                                    <li><a href="{% url 'profile' %}" class="header__link link">profile</a></li>
                                                    <li><a href="{% url 'exit' %}" class="header__link link">log out (<b>{{ user.username }}</b>)</a></li>
                                                {% endif %}
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="header__row">
                                <div class="header__big-text header__big-text_small">
                                    <p>the most divinest borschy</p>
                                    <p>by local economist-man...</p>
                                </div>
                            </div>
                            <div class="header__blog">
                            </div>
                        </div>
                    </div>
                    <picture class="fullscreen__image">
                        <img src={% static "mainblog/pictures/background/header_background.jpg" %} alt="background">
                    </picture>
                </div>
</header>
{% endblock %}

{% block content %}
    <aside class="sidebar sidebar_left">
    <div class="sidebar__follow sidebar-left-container">
        <div class="sidebar__header sidebar__header_left">
            <h3>Get in touch</h3>
        </div>
        <div class="sidebar__social">
            <p>На случай, если у вас появятся какие-то вопросы или предложения по моим статьям, я всегда на связи и готов к диалогу! </p>
            <a href="#" class="sidebar__link"><img src={% static "mainblog/pictures/icons/social/google-icon.svg" %} alt="google"></a>
            <a href="#" class="sidebar__link"><img src={% static "mainblog/pictures/icons/social/telegram-icon.svg" %} alt="telegram"></a>
            <a href="#" class="sidebar__link"><img src={% static "mainblog/pictures/icons/social/twitter-icon.svg" %} alt="twitter"></a>
            <a href="#" class="sidebar__link"><img src={% static "mainblog/pictures/icons/social/instagram-icon.svg" %} alt="instagram"></a>
            <a href="#" class="sidebar__link"><img src={% static "mainblog/pictures/icons/social/vk-icon.svg" %} alt="vk"></a>
            <a href="#" class="sidebar__link"><img src={% static "mainblog/pictures/icons/social/facebook-icon.svg" %} alt="facebook"></a>
        </div>
    </div>
    </aside>
    <section class="content">
        <section class="content__author-articles articles">
            <div id="articles"></div>
            <h2>Здесь находятся все мои публикации. Приятного прочтения!</h2>
<!--            (всего: <b>{{ page_obj.paginator.count }}</b>)-->
            <div class="articles__last-article">
                {% for post in articles %}
                    <div class="articles__item articles__item_big">
                        <p class="articles__description">Опубликовано: {{ post.date|date:"d E Y" }}</p>
                        <h2><a href="{% url 'article_detail' post.id %}" class="articles__name">{{ post.title }}</a></h2>
                        {% if post.img %}
                            {% if post.img == default_image %}
                                <span>There is no image</span>
                            {% else %}
                                <a href="{% url 'article_detail' post.id %}" class="articles__image ">
                                    <img src="{{ post.img.url }}" alt="">
                                </a>
                            {% endif %}
                        {% endif %}
                        <p class="articles__preview">{{ post.text|striptags|truncatechars:200 }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="articles__pagination pagination">
                <div class="pagination pagination-container">
                    {% if is_paginated %}
                        {% if page_obj.has_previous %}
                            <a class="pagination__button button" href="{% url 'user_articles' 'prothean' %}">На первую</a>
                            <a class="pagination__button button" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                        {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if num == page_obj.number %}
                            <button class="pagination__button button pagination__button_paginated">{{ num }}</button>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <a class="pagination__button button" href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}  <!--проверяем, есть ли последующие страницы-->
                        <a class="pagination__button button" href="?page={{ page_obj.next_page_number }}">Следующая</a>
                        <a class="pagination__button button" href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="pagination pagination-container-small">
                    {% if is_paginated %}
                        {% if page_obj.has_previous %}
                            <a class="pagination__button button" href="{% url 'user_articles' 'prothean' %}" title="На первую"><<</a>
                            <a class="pagination__button button" href="?page={{ page_obj.previous_page_number }}" title="Предыдущая"><</a>
                        {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if num == page_obj.number %}
                            <button class="pagination__button button pagination__button_paginated">{{ num }}</button>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <a class="pagination__button button" href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}  <!--проверяем, есть ли последующие страницы-->
                        <a class="pagination__button button" href="?page={{ page_obj.next_page_number }}" title="Следующая">></a>
                        <a class="pagination__button button" href="?page={{ page_obj.paginator.num_pages }}" title="Последняя">>></a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </section>
    </section>
{% endblock %}

