{% extends 'mainblog/base.html' %}

{% block menu %}
    <div class="outer_menu_container">
        <div class="inner_menu_container">
            {% if not user.is_authenticated %}
                <div class="menu">
                    <span><a class="menu_button" href="{% url 'home' %}">Главная</a></span>
                    <span><a class="menu_button" href="{% url 'all_products' %}">Индекс борща</a></span>
                    <span><a id="profile_link" class="menu_button" href="{% url 'registration' %}">Регистрация</a></span>
                    <span><a class="menu_button" href="{% url 'user' %}">Вход</a></span>
                </div>
            {% else %}
                {% if user.username == 'admin' or user.username == 'prothean' %}
                    <div class="menu">
                        <span><a class="menu_button" href="{% url 'home' %}">Главная</a></span>
                        <span><a class="menu_button" href="{% url 'all_products' %}">Индекс борща</a></span>
                        <span><a class="menu_button" href="{% url 'profile' %}">Профиль</a></span>
                        <span><a class="menu_button" href="{% url 'article_add' %}">Написать статью</a></span>
                        <span><a class="menu_button" href="{% url 'user_articles' user.username %}">Мои статьи</a></span>
                        <span><a class="menu_button" href="{% url 'exit' %}">Выход</a>{# (<b>{{ user.username }}</b>) #}</span>
                    </div>
                {% else %}
                    <div class="menu">
                        <span><a class="menu_button" href="{% url 'home' %}">Главная</a></span>
                        <span><a class="menu_button" href="{% url 'all_products' %}">Индекс борща</a></span>
                        <span><a class="menu_button" href="{% url 'profile' %}">Профиль</a></span>
                        <span><a class="menu_button" href="{% url 'exit' %}">Выход</a> (<b>{{ user.username }}</b>)</span>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
    <div class="user_profile">
        <h3>{{ title }}</h3>
        <p class="star_fields">Поля, отмеченные символом *, обязательны для заполнения</p>
        <div class="reigstration_form">
            <form method="post">
                {% csrf_token %}
                <span>Введите логин:</span>
                {{ form.username|safe }}
                <span>Введите e-mail:</span>
                {{ form.email|safe }}
                <span>Имя:</span>
                {{ form.first_name|safe }}
                <span>Фамилия:</span>
                {{ form.last_name|safe }}
                <span>Введите пароль:</span>
                {{ form.password1|safe }}
                <div class="helptext">
                    <span>Пароль должен состоять не менее чем из 8 знаков, содержать цифры и символы в верхнем и нижнем регистрах. Придумайте пароль самостоятельно или воспользуйтесь паролем, сгенерированным автоматически.</span>
                </div>
                <div class="helptext">
                    Случайный пароль: <b class="hide_password">{{ password }}</b>
                </div>
                <br>
                <span>Введите пароль ещё раз:</span>
                {{ form.password2|safe }}
                <div class="helptext">
                    <span>Пароли в этом и предыдущем полях должны полностью совпадать</span>
                </div>
                <br>
                <button type="submit">Зарегистрироваться</button>
            </form>
            <br>
        </div>
        <p>Уже зарегистрированы? <a class="" href="{% url 'user' %}">Войти в личный кабинет</a></p>
    </div>
{% endblock %}