{% extends 'mainblog/base.html' %}
{% load static %}

{% block header %}
    <header class="header">
                <div class="fullscreen fullscreen_small">
                    <div class="fullscreen__body">
                        <div class="header__container container header__container_small">
                            <div class="header__row">
                                <div class="header__column">
                                    <div class="header__item">
                                        <div class="header__logo">
                                            <a href="{% url 'home' %}" class="header__logo-item link logo-item">
                                                <p class="logo-item__text">eco</p>
                                                <div class="logo-item__picture">
                                                    <img src={% static "mainblog/pictures/logo/izba.jpg" %} alt="logo-izba">
                                                </div>
                                                <p class="logo-item__text">borsch</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="header__column">
                                    <div class="header__item">
                                        <ul class="header__menu">
                                            {% if not user.is_authenticated %}
                                                <li><a href="{% url 'user_articles' 'prothean' %}" class="header__link link">blog</a></li>
                                                <li><a href="{% url 'all_products' %}" class="header__link link">borsch index</a></li>
                                                <li><a href="{% url 'registration' %}" class="header__link link">registration</a></li>
                                                <li><a href="{% url 'user' %}" class="header__link link">log in</a></li>
                                            {% else %}
                                                {% if user.username == 'admin' or user.username == 'prothean' %}
                                                    <li><a href="{% url 'user_articles' 'prothean' %}" class="header__link link">blog</a></li>
                                                    <li><a href="{% url 'all_products' %}" class="header__link link">borsch index</a></li>
                                                    <li><a href="{% url 'profile' %}" class="header__link link">profile</a></li>
                                                    <li><a href="{% url 'article_add' %}" class="header__link link">new article</a></li>
                                                    <li><a href="{% url 'exit' %}" class="header__link link">log out</a></li>
                                                {% else %}
                                                    <li><a href="{% url 'user_articles' 'prothean' %}" class="header__link link">blog</a></li>
                                                    <li><a href="{% url 'all_products' %}" class="header__link link">borsch index</a></li>
                                                    <li><a href="{% url 'profile' %}" class="header__link link">profile</a></li>
                                                    <li><a href="{% url 'exit' %}" class="header__link link">log out (<b>{{ user.username }}</b>)</a></li>
                                                {% endif %}
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="header__row">
                                <div class="header__big-text header__big-text_small">
                                    <p>the most divinest borschy</p>
                                    <p>by local economist-man...</p>
                                </div>
                            </div>
                            <div class="header__blog">
                            </div>
                        </div>
                    </div>
                    <picture class="fullscreen__image">
                        <img src={% static "mainblog/pictures/background/header_background.jpg" %} alt="background">
                    </picture>
                </div>
</header>
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
    <section class="content">
        <div class="registration">
        <h2>{{ title }}</h2>
            <div class="registration__form">
                <p class="registration__text registration__text_help">Поля, отмеченные символом *, обязательны для заполнения</p>
                <form method="post">
                    {% csrf_token %}
                    <p class="registration__text">Введите логин:</p>
                    {{ form.username|safe }}
                    <p class="registration__text">Введите e-mail:</p>
                    {{ form.email|safe }}
                    <p class="registration__text">Имя:</p>
                    {{ form.first_name|safe }}
                    <p class="registration__text">Фамилия:</p>
                    {{ form.last_name|safe }}
                    <p class="registration__text">Введите пароль:</p>
                    {{ form.password1|safe }}
                    <p class="registration__text registration__text_help">
                        Пароль должен состоять не менее чем из 8 знаков, содержать цифры и символы в верхнем и нижнем
                        регистрах. Придумайте пароль самостоятельно или воспользуйтесь паролем, сгенерированным
                        автоматически.
                    </p>
                    <div class="registration__text">
                        Случайный пароль: <p class="registration__text registration__text_hide">{{ password }}</p>
                    </div>
                    <p class="registration__text">Введите пароль ещё раз:</p>
                    {{ form.password2|safe }}
                    <p class="registration__text registration__text_help">Пароли в этом и предыдущем полях должны полностью совпадать</p>
                    <br>
                    <button class="button registration__button" type="submit">Зарегистрироваться</button>
                </form>
                <br>
                <div class="login">
                    <p class="registration__text">Уже зарегистрированы?</p>
                    <a class="button registration__button registration__button_login" href="{% url 'user' %}">Войти в личный кабинет</a></p>
                </div>
            </div>
    </section>

<script src={% static 'mainblog/js/script_2.js' %} ></script>
{% endblock %}